.mdx-heading {
  @apply flex items-center gap-4 font-extrabold text-slate-700;
  @apply dark:text-slate-300;

  svg {
    @apply h-5 w-5;
  }

  span {
    @apply relative;

    &::before {
      @apply bg-accent-400/60 absolute inset-0 -inset-x-2 z-[-1] origin-left scale-x-0 content-[''];
      @apply dark:bg-accent-900/60;
    }
  }

  &:target {
    @apply motion-reduce:text-accent-600;
    @apply motion-reduce:dark:text-accent-400;

    span {
      &::before {
        animation: heading-target 900ms cubic-bezier(0, 0, 0.03, 0.9) 600ms;

        @apply motion-reduce:animate-none;
      }
    }
  }

  &:first-child {
    @apply mt-0;
  }

  &__anchor {
    @apply border-divider-light hidden cursor-pointer items-center justify-center rounded-lg border bg-slate-100/50 opacity-0;
    @apply lg:flex;
    @apply dark:border-divider-dark dark:bg-slate-200/5;
    @apply lg:focus:opacity-100;
  }

  &--h2 {
    @apply mb-4 mt-6 scroll-mt-[86px] text-2xl;
    @apply md:mb-5 md:mt-7 md:text-3xl lg:-ml-12;

    .mdx-heading__anchor {
      @apply h-8 w-8 text-current;
    }
  }

  &--h3 {
    @apply mb-4 mt-5 scroll-mt-[86px] text-[1.2rem];
    @apply md:mb-5 md:mt-6 md:text-[1.35rem] lg:-ml-11;

    .mdx-heading__anchor {
      @apply h-7 w-7;
    }
  }
}

.mdx-hr {
  @apply flex h-auto items-center justify-center;

  &::after {
    @apply h-0.5 w-full rounded-full bg-slate-200 content-[''];
    @apply dark:bg-slate-800;
  }
}

.mdx-link {
  @apply text-accent-600 relative inline-flex items-center gap-1;
  @apply dark:text-accent-400;

  svg {
    @apply h-3.5 w-3.5;
  }

  &:hover {
    &::after {
      @apply scale-y-[1];
    }
  }

  &::after {
    @apply bg-accent-600/20 absolute bottom-1 left-0 right-0 z-[-1] h-2 origin-bottom scale-y-[.4] transition-transform content-[''];
  }
}

.mdx-image-sensitive {
  @apply my-4 mx-auto max-w-fit;
  @apply md:my-6;

  .mdx-image {
    @apply m-0;
  }
}

.mdx-image {
  @apply my-4 mx-auto max-w-fit;
  @apply md:my-6 xl:-mx-10;
}

:root {
  --code-bg: #2a344a;
  --code-window: #353f56;
}

.dark {
  --code-bg: #161e31;
  --code-window: #1d263a;
}

.mdx-code-block {
  @apply relative mt-4 mb-8 overflow-hidden rounded-xl bg-[var(--code-bg)] text-slate-400 [color-scheme:dark];
  @apply dark:border-divider-dark dark:border;

  pre {
    @apply overflow-x-auto p-4 text-[14px] leading-relaxed;

    code {
      @apply font-normal;
    }
  }

  .code-highlight {
    @apply float-left min-w-full;

    .code-line {
      @apply block;

      &.highlight-line {
        @apply bg-accent-500/5 -mx-4 px-4;
      }

      &.line-number {
        @apply pl-10;

        &::before {
          @apply absolute left-0 box-content inline-block w-4 bg-[var(--code-bg)] pl-4 pr-6 text-right content-[attr(line)];
        }

        &.highlight-line {
          @apply ml-0 bg-transparent;

          &::before {
            @apply border-accent-500/40 border-r-4 pr-5 text-[var(--prism-color-base-secondary)];
            @apply dark:border-accent-600/40;
          }
        }
      }
    }
  }

  .language-bash {
    .code-line {
      &::before {
        @apply mr-3 inline-block content-['$'];
      }
    }
  }

  &__content {
    @apply bg-[var(--code-bg)];

    &:hover {
      .mdx-code-block__copy-button {
        @apply pointer-events-auto opacity-100;
      }
    }
  }

  &__copy-button {
    @apply absolute top-3 right-3 flex h-8 w-8 items-center justify-center rounded-lg bg-[var(--code-window)];

    svg {
      @apply h-4 w-4;
    }

    &-message {
      @apply bg-accent-600 text-accent-200 absolute -left-16 -ml-2 w-16 translate-x-2 rounded-md px-2 py-1 text-xs font-bold opacity-0 transition;
      @apply dark:bg-accent-300 dark:text-accent-900;

      &-copied {
        @apply translate-x-0 opacity-100;
      }
    }
  }

  &__footer {
    @apply flex items-center justify-end border-t border-t-[var(--code-window)] px-2 text-xs;

    &-item {
      @apply flex h-7 items-center gap-1 px-2;
    }
  }
}

.mdx-code-block-group {
  .mdx-code-block {
    @apply my-0;
  }

  &--tab {
    @apply border-divider-light relative mt-4 mb-8 overflow-hidden rounded-xl border;
    @apply dark:border-divider-dark;

    .mdx-code-block-group__header {
      @apply p-3;
    }

    .mdx-code-block-group__tabs {
      @apply border-divider-light flex h-8 w-fit overflow-hidden rounded-lg border;
      @apply dark:border-divider-dark;
    }

    .mdx-code-block-group__tab {
      @apply border-divider-light flex h-full items-center justify-center gap-1 border-r px-4 text-xs font-bold;
      @apply dark:border-divider-dark;
      @apply ui-selected:bg-accent-600/[0.08] ui-selected:text-accent-600;
      @apply dark:ui-selected:bg-accent-400/10 dark:ui-selected:text-accent-400;

      &:last-child {
        @apply border-none;
      }

      svg {
        @apply h-4 w-4;
      }
    }

    .mdx-code-block-group__contents {
      @apply p-3 pt-0;
    }

    .mdx-code-block {
      @apply border-none;
    }
  }

  &--window {
    @apply mt-4 mb-8 overflow-hidden rounded-xl bg-[var(--code-bg)] text-slate-400 [color-scheme:dark];
    @apply dark:border-divider-dark dark:border;

    .mdx-code-block-group__tabs {
      @apply flex items-center bg-[var(--code-window)] pt-1.5 pl-2;
    }

    .mdx-code-block-group__tab-window {
      @apply relative flex h-9 items-center gap-2 rounded-t-lg bg-transparent pl-5 pr-6 text-xs font-semibold;
      @apply ui-selected:bg-[var(--code-bg)];

      svg {
        @apply h-4 w-4;
      }
    }

    .mdx-code-block {
      @apply rounded-none border-none;
    }
  }
}

.mdx-table {
  @apply border-divider-light mt-6 mb-8 w-full overflow-x-auto rounded-lg border pb-2 text-sm;
  @apply dark:border-divider-dark;

  table {
    @apply w-full;

    thead {
      tr {
        @apply border-divider-light border-b;
        @apply dark:border-divider-dark;

        th {
          @apply p-2 px-4 text-left;
        }
      }
    }

    tbody {
      tr {
        td {
          @apply p-2 px-4 align-top;
        }
      }
    }

    th,
    td {
      &:first-of-type {
        @apply sticky left-0 w-[120px] min-w-[120px] bg-white sm:w-[200px] sm:min-w-[200px];
        @apply dark:bg-slate-900;
      }
    }
  }
}

@keyframes heading-target {
  0%,
  44%,
  88.1%,
  100% {
    @apply origin-left;
  }

  0%,
  100%,
  88% {
    transform: scaleX(0);
  }

  44.1%,
  88% {
    @apply origin-right;
  }

  33%,
  44% {
    transform: scaleX(1);
  }
}
